# ROOT files
*.root

# Spectra
*.tv

# Input
*.txt
!src/CMakeLists.txt
!CMakeLists.txt

# Output
output/*
!output/.o
Testing/*

# Build directory
build/

# Compiled files
create_test_data
horst
makematrix
convert_to_txt
tsroh
CMakeFiles/*
include/CMakeFiles/*
src/CMakeFiles/*
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
cmake_install.cmake
src/cmake_install.cmake
src/*.a
include/Config.h
include/ConfigTest.h

# LaTex output
doc/doc.aux
doc/doc.log
doc/doc.out
doc/doc.pdf
doc/doc.toc
