# ROOT files
*.root

# Spectra
*.tv

# Input
*.txt

# Output
output/*
!output/.o

# Compiled files
obj/*.o
!obj/.o
test/obj/*.o
!test/obj/.o
horst
makematrix
convert_to_txt
tsroh
test/create_test_data

# LaTex output
doc/doc.aux
doc/doc.log
doc/doc.out
doc/doc.pdf
doc/doc.toc
