# ROOT files
*.root

# Spectra
*.tv

# Input
*.txt
!src/CMakeLists.txt
!CMakeLists.txt

# Output
output/*
!output/.o

# Build directory
build/

# Compiled files
horst
makematrix
convert_to_txt
tsroh

# LaTex output
doc/doc.aux
doc/doc.log
doc/doc.out
doc/doc.pdf
doc/doc.toc
